<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>营销活动详情</title>
    <link rel="stylesheet" href="../../dist/css/reset.min.css">
    <link rel="stylesheet" href="../../dist/css/style.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_831718_yk499ns7suj.css">
</head>
<body>

<section class="headerwrap">
    <header>
        <div class="header">
            <div class="top">
                <div class="wp">
                    <div class="fl"><p>2018年10月20日 星期六</p></div>
                    <!--登录后跳转-->


                    <!-- <a style="color:white" class="fr registerbtn" href="register.html">注册</a> -->
                    <!-- <a style="color:white" class="fr loginbtn" href="login.html">登录</a>  -->

                    <div class="personal">
                        <dl class="user fr">
                            <dd>bobby<i class="iconfont icon-arrow_down_full"></i></dd>
                            <dt><img width="20" height="20" src="../media/image/2016/12/default_big_14.png"/></dt>
                        </dl>
                        <div class="userdetail">
                            <dl>
                                <dt><img width="80" height="80" src="../media/image/2016/12/default_big_14.png"/>
                                </dt>
                                <dd>
                                    <h2>django</h2>
                                    <p>bobby</p>
                                </dd>
                            </dl>
                            <div class="btn">
                                <a class="fl" href="usercenter-info.html">进入个人中心</a>
                                <a class="fr" href="/logout/">退出</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <nav>
                <div class="nav">
                    <div class="nav-left fl" id="nav-left">
                        <ul>
                            <li>
                                <a href="index.html">首页</a>
                            </li>
                            <li class="active">
                                <a href="course-list.html">营销活动</a>
                            </li>
                            <li>
                                <a href="teachers-list.html">旗舰店</a>
                            </li>
                            <li><a href="org-list.html">增机布点</a>
                            </li>
                            <li><a href="org-list.html">热敏纸</a>
                            </li>
                        </ul>
                    </div>
                    <div class="searchbox fr">
                        <input id="search_keywords" class="fl" type="text" value="" placeholder="请输入搜索内容"/>
                        <i class="search_btn fr iconfont icon-fangdajing"></i>
                    </div>

                </div>

            </nav>


        </div>
    </header>
</section>
<section style="padding-bottom:50px">
    <div class="wp butler_list_box list">
        <div class='left'>

        </div>
        <div class="right" id="echarts" style="width: 280px;height:500px;">
        </div>
    </div>
</section>
<footer class="footer">
    <div class="wp">
        <i class="iconfont icon-ai-tel"></i>
        <p class="tell">0731-89735525</p>
        <p class="work">周一至周日 9:00-18:00</p>
    </div>
</footer>

</body>
<script src="../../dist/js/jquery-3.3.1.min.js" type='text/javascript'></script>
<script src="https://cdn.bootcss.com/echarts/4.2.0-rc.1/echarts.min.js"></script>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('echarts'));
    var option = {
        title: {
            text: '2019年度营销活动次数排名',
            show: true,
            padding:[20,5,20,5],
            x:'center'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },

        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01],
            splitLine: {show: false},
            show: false
        },
        yAxis: {
            type: 'category',
            data: ['长沙', '湘潭', '株洲', '衡阳', '郴州', '常德', '益阳', '娄底', '邵阳', '岳阳', '永州', '怀化', '湘西', '张家界']

        },
        series: [
            {
                name: '2019年',
                type: 'bar',
                data: [10, 1, 5, 5, 9, 10, 1, 5, 5, 9, 10, 1, 5, 5],
                label: {
                    normal: {
                        show: true,
                        position: 'inside'
                    }
                }
            }

        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</html>